<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AEXIOSApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6D7E32C5AB62F10CE1299A9FBA4A273605B39DDD</string>
				<key>dateExpires</key>
				<string>2019/3/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8CDLJMVW8X.com.aex.ios.AEX</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8CDLJMVW8X</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>8CDLJMVW8X.com.aex.ios.AEX</string>
				</array>
			</dict>
			<key>name</key>
			<string>AEXIOSApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cb784a8c-28bf-4129-80b4-db2330a8fd10</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.aex.ios.AEX</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8CDLJMVW8X</string>
				<key>name</key>
				<string>xiaobing zeng</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
